    body{
        font-family: 'Poppins', sans-serif;
        margin: 0;
    }
    
    .orenge{
        color: orangered;
    }
    h1{
        font-size: 32px;
    }
    .topbnr{
       background-image: url(top-banner.png);
       background-repeat: no-repeat;
       

    }
    .flxibl{
        display: flex;
       
    }
    .half{
        width: 50%;
        padding: 3%;
    }
    .half img{
        width: 85%;
    }
    .link  {
       text-decoration: none;
       background-image: linear-gradient(orange, tomato);
       border-radius: 9px;
       padding: 10px 15px;
       font-weight: 900;
    }
    
    .lyrics{
        width: 40%;
        margin: 3%;
        box-shadow: 10px 10px 40px gray;
       border-radius: 15px;
        padding: 10px;
    }
    .bodr{
        border-left:10px solid blueviolet;
    }